<div class="dialog-overlay">
    <div class="dialog">
      <div class="heading-compartment">
        <h2 class="delete-heading">Delete</h2>
      </div>
  
      <div class="confirmation-compartment">
        <p>Do you want to delete the task?</p>
        <div class="button-container">
          <button class="confirm-button" (click)="onConfirm()">Yes</button>
          <button class="cancel-button" (click)="onCancel()">No</button>
        </div>
      </div>
    </div>
  </div>
  